# 안녕하세요^^ 
# AIVLE 2차 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

# 데이터 분석부터 먼저 시작해보겠습니다.

* "1. 데이터 불러오기 및 분석" 단계에서는 제공되는 데이터를 불러와 feature들을 확인 해보는 작업을 진행 합니다.

---

In [5]:
# 필요 라이브러리부터 설치할께요.
# %pip install pandas seaborn

---

## 기본 데이터 

* 21년도 데이터 train 데이터
* 22년도 데이터 test 데이터

[미세먼지 데이터]
* 21년도 미세먼지 데이터 : air_2021.csv
* 22년도 미세먼지 데이터 : air_2022.csv

[날씨 데이터]
* 21년도 날씨 데이터 : weather_2021.csv
* 22년도 날씨 데이터 : weather_2022.csv

---

# 1. 데이터 불러오기
## 서울시 미세먼지 데이터와 기상 데이터를 불러오도록 하겠습니다.

#### [실습문제1] 미세먼지 데이터 로딩
* Pandas 라이브러리를 활용해서 'air_2021.csv'파일을 'air_21' 변수에, 'air_2022.csv'파일을 'air_22' 변수에 저장하고 그 데이터를 확인하세요.
* 아래에 'Pandas'를 Import하고 두 개의 파일을 불러오고 Shape을 확인하는 소스코드를 작성하고 실행해보세요.
* 구분자(sep) : ','
* encoder = 'UTF-8'
* index_col = 0

In [6]:

#라이브러리들을 불러오자.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as spst

# 전처리
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# 모델링
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBRegressor
from sklearn.metrics import * 

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

import warnings
warnings.filterwarnings(action='ignore')

In [7]:
# 시각화 한글폰트 설정

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

# columns 분석
- SO2 : 아황산가스 농도 (단위 ppm = 100만분의 1)
- CO : 일산화탄소 농도 (단위 ppm)
- O3 : 오존 농도 (단위 ppm)
- NO2 : 이산화질소 농도 (단위 ppm)
- PM10 : 미세먼지 농도 (단위 microgram / m^3)
- PM25 : 초미세먼지 농도 (단위 microgram / m^3)

In [41]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
air_21 = pd.read_csv('air_2021.csv' , index_col = 0 , encoding='utf-8')
air_22 = pd.read_csv('air_2022.csv' , index_col = 0 , encoding='utf-8')
print('21년도 미세먼지 데이터 : ', air_21.shape, '22년도 미세먼지 데이터 : ', air_22.shape)
print('=='*50)
print('21년도 미세먼지 데이터')
display(air_21)
print('=='*50)
print('22년도 미세먼지 데이터')
display(air_22)
display(air_21.nunique())

21년도 미세먼지 데이터 :  (8760, 12) 22년도 미세먼지 데이터 :  (2160, 12)
====================================================================================================
21년도 미세먼지 데이터

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
Column1,,,,,,,,,,,,
0,서울 종로구,도시대기,111123,종로구,2021100101,0.00300,0.60000,0.00200,0.03900,31.00000,18.00000,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2021100102,0.00300,0.60000,0.00200,0.03500,27.00000,16.00000,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2021100103,0.00300,0.60000,0.00200,0.03300,28.00000,18.00000,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2021100104,0.00300,0.60000,0.00200,0.03000,26.00000,16.00000,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2021100105,0.00300,0.50000,0.00300,0.02600,26.00000,16.00000,서울 종로구 종로35가길 19
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,서울 종로구,도시대기,111123,종로구,2021093020,0.00300,0.70000,0.02000,0.03600,35.00000,24.00000,서울 종로구 종로35가길 19
8756,서울 종로구,도시대기,111123,종로구,2021093021,0.00300,0.60000,0.01600,0.03500,34.00000,21.00000,서울 종로구 종로35가길 19
8757,서울 종로구,도시대기,111123,종로구,2021093022,0.00300,0.60000,0.01200,0.03600,30.00000,19.00000,서울 종로구 종로35가길 19
8758,서울 종로구,도시대기,111123,종로구,2021093023,0.00300,0.60000,0.00400,0.04200,33.00000,19.00000,서울 종로구 종로35가길 19
8759,서울 종로구,도시대기,111123,종로구,2021093024,0.00300,0.60000,0.00300,0.04200,29.00000,17.00000,서울 종로구 종로35가길 19

====================================================================================================
22년도 미세먼지 데이터

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
Column1,,,,,,,,,,,,
0,서울 종로구,도시대기,111123,종로구,2022010101,0.00300,0.40000,0.02600,0.01600,23.00000,12.00000,서울 종로구 종로35가길 19
1,서울 종로구,도시대기,111123,종로구,2022010102,0.00300,0.40000,0.02200,0.02000,20.00000,9.00000,서울 종로구 종로35가길 19
2,서울 종로구,도시대기,111123,종로구,2022010103,0.00300,0.50000,0.01400,0.02800,20.00000,9.00000,서울 종로구 종로35가길 19
3,서울 종로구,도시대기,111123,종로구,2022010104,0.00300,0.50000,0.01600,0.02700,19.00000,10.00000,서울 종로구 종로35가길 19
4,서울 종로구,도시대기,111123,종로구,2022010105,0.00300,0.50000,0.00500,0.04000,24.00000,11.00000,서울 종로구 종로35가길 19
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,서울 종로구,도시대기,111123,종로구,2022033120,0.00200,0.40000,0.03600,0.01700,11.00000,8.00000,서울 종로구 종로35가길 19
2156,서울 종로구,도시대기,111123,종로구,2022033121,0.00200,0.40000,0.03200,0.01800,10.00000,7.00000,서울 종로구 종로35가길 19
2157,서울 종로구,도시대기,111123,종로구,2022033122,0.00300,0.30000,0.03800,0.01300,11.00000,5.00000,서울 종로구 종로35가길 19
2158,서울 종로구,도시대기,111123,종로구,2022033123,0.00300,0.30000,0.03600,0.01500,11.00000,5.00000,서울 종로구 종로35가길 19
2159,서울 종로구,도시대기,111123,종로구,2022033124,0.00200,0.40000,0.03300,0.01700,9.00000,5.00000,서울 종로구 종로35가길 19

지역          1
망           1
측정소코드       1
측정소명        1
측정일시     8760
SO2        11
CO         18
O3        124
NO2        78
PM10      239
PM25      125
주소          1
dtype: int64

#### [실습문제2] 날씨 데이터 로딩
* Pandas 라이브러리를 활용해서 'weather_2021.csv'파일을 'weather_21' 변수에, 'weather_2022.csv'파일을 'weather_22' 변수에 저장하고 그 데이터를 확인하세요.
* 아래에 'Pandas'를 Import하고 두 개의 파일을 불러오고 Shape을 확인하는 소스코드를 작성하고 실행해보세요.
* 구분자(sep) : ','
* encoder = 'cp949'

In [49]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_21 = pd.read_csv('weather_2021.csv' , index_col = 0 , encoding='utf-8')
weather_22 = pd.read_csv('weather_2022.csv' , index_col = 0 , encoding='utf-8')
print('21년도 날씨 데이터 : ', weather_21.shape, '22년도 날씨 데이터 : ', weather_22.shape)
print('=='*50)
print('21년도 날씨 데이터')
display(weather_21.head())
display(weather_21.nunique())
print('=='*50)
print('22년도 날씨 데이터')
display(weather_22.head())

21년도 날씨 데이터 :  (8759, 37) 22년도 날씨 데이터 :  (2160, 37)
====================================================================================================
21년도 날씨 데이터

,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
지점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
108,서울,2021-01-01 1:00,-8.70000,NaN,NaN,NaN,2.40000,NaN,270.00000,NaN,68,NaN,2.20000,-13.50000,1016.40000,NaN,1027.70000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0.00000,0,NaN,NaN,2000,NaN,NaN,-6.90000,NaN,-1.00000,-0.80000,0.30000,1.60000
108,서울,2021-01-01 2:00,-9.10000,NaN,NaN,NaN,1.60000,NaN,270.00000,NaN,69,NaN,2.10000,-13.70000,1016.20000,NaN,1027.50000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0.00000,0,NaN,NaN,2000,NaN,NaN,-7.10000,NaN,-1.10000,-0.80000,0.30000,1.60000
108,서울,2021-01-01 3:00,-9.30000,NaN,NaN,NaN,1.10000,NaN,250.00000,NaN,70,NaN,2.10000,-13.70000,1016.80000,NaN,1028.10000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0.00000,0,NaN,NaN,2000,NaN,NaN,-7.30000,NaN,-1.20000,-0.90000,0.30000,1.60000
108,서울,2021-01-01 4:00,-9.30000,NaN,NaN,NaN,0.30000,NaN,0.00000,NaN,71,NaN,2.20000,-13.50000,1016.20000,NaN,1027.50000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0.00000,0,NaN,NaN,2000,NaN,NaN,-7.50000,NaN,-1.30000,-1.00000,0.20000,1.50000
108,서울,2021-01-01 5:00,-9.70000,NaN,NaN,NaN,1.90000,NaN,20.00000,NaN,72,NaN,2.10000,-13.80000,1015.60000,NaN,1026.90000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0.00000,0,NaN,NaN,2000,NaN,NaN,-7.60000,NaN,-1.30000,-1.00000,0.20000,1.50000

지점명                 1
일시               8759
기온(°C)            525
기온 QC플래그            0
강수량(mm)            97
강수량 QC플래그           1
풍속(m/s)            75
풍속 QC플래그            1
풍향(16방위)           17
풍향 QC플래그            1
습도(%)              82
습도 QC플래그            0
증기압(hPa)          267
이슬점온도(°C)         506
현지기압(hPa)         381
현지기압 QC플래그          0
해면기압(hPa)         395
해면기압 QC플래그          0
일조(hr)             11
일조 QC플래그            1
일사(MJ/m2)         366
일사 QC플래그            1
적설(cm)             48
3시간신적설(cm)         15
전운량(10분위)          11
중하층운량(10분위)        11
운형(운형약어)           46
최저운고(100m )        76
시정(10m)          1408
지면상태(지면상태코드)        0
현상번호(국내식)          39
지면온도(°C)          595
지면온도 QC플래그          2
5cm 지중온도(°C)      402
10cm 지중온도(°C)     382
20cm 지중온도(°C)     350
30cm 지중온도(°C)     315
dtype: int64

====================================================================================================
22년도 날씨 데이터

,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,습도(%),습도 QC플래그,증기압(hPa),이슬점온도(°C),현지기압(hPa),현지기압 QC플래그,해면기압(hPa),해면기압 QC플래그,일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
지점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
108,서울,2022-01-01 0:00,-8.50000,NaN,NaN,NaN,1.90000,NaN,320,NaN,41,NaN,1.30000,-19.40000,1021.90000,NaN,1033.20000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.00000,NaN,-1.00000,-1.00000,-0.20000,1.00000
108,서울,2022-01-01 1:00,-9.20000,NaN,NaN,NaN,1.80000,NaN,270,NaN,42,NaN,1.30000,-19.70000,1022.20000,NaN,1033.60000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.20000,NaN,-1.10000,-1.10000,-0.20000,1.00000
108,서울,2022-01-01 2:00,-9.50000,NaN,NaN,NaN,1.20000,NaN,270,NaN,43,NaN,1.30000,-19.70000,1022.30000,NaN,1033.70000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.50000,NaN,-1.30000,-1.20000,-0.20000,1.00000
108,서울,2022-01-01 3:00,-9.30000,NaN,NaN,NaN,1.40000,NaN,290,NaN,46,NaN,1.40000,-18.80000,1022.60000,NaN,1034.00000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.60000,NaN,-1.40000,-1.20000,-0.20000,1.00000
108,서울,2022-01-01 4:00,-9.60000,NaN,NaN,NaN,1.70000,NaN,340,NaN,48,NaN,1.40000,-18.50000,1021.90000,NaN,1033.30000,NaN,NaN,9.00000,NaN,9.00000,NaN,NaN,0,0,NaN,NaN,2000,NaN,NaN,-7.60000,NaN,-1.40000,-1.30000,-0.30000,1.00000

---

# 2. 다양한 변수 확인

#### [실습문제3] 미세먼지 데이터와 날씨 데이터의 다양한 변수를 확인해 보도록 하겠습니다

* 미세먼지 데이터 : https://www.airkorea.or.kr/web/last_amb_hour_data?pMENU_NO=123


* 날씨 데이터 : https://data.kma.go.kr/data/grnd/selectAsosRltmList.do?pgmNo=36

* 도메인 지식 습득과 함께 변수에 대한 정보를 직접 파악해 보세요.

In [10]:
print('21년도 미세먼지 데이터 : ', air_21.dtypes, sep='\n')
print('=='*40)
print('22년도 미세먼지 데이터 : ', air_22.dtypes, sep='\n')
print('=='*40)
print('21년도 날씨 데이터 : ', weather_21.dtypes, sep='\n')
print('=='*40)
print('22년도 날씨 데이터 : ', weather_22.dtypes, sep='\n')

21년도 미세먼지 데이터 :
지역        object
망         object
측정소코드      int64
측정소명      object
측정일시       int64
SO2      float64
CO       float64
O3       float64
NO2      float64
PM10     float64
PM25     float64
주소        object
dtype: object
================================================================================
22년도 미세먼지 데이터 :
지역        object
망         object
측정소코드      int64
측정소명      object
측정일시       int64
SO2      float64
CO       float64
O3       float64
NO2      float64
PM10     float64
PM25     float64
주소        object
dtype: object
================================================================================
21년도 날씨 데이터 :
지점명               object
일시                object
기온(°C)           float64
기온 QC플래그         float64
강수량(mm)          float64
강수량 QC플래그        float64
풍속(m/s)          float64
풍속 QC플래그         float64
풍향(16방위)         float64
풍향 QC플래그         float64
습도(%)              int64
습도 QC플래그         float64
증기압(hPa)         float64
이슬점온도(°C)        float64
현지기압(hPa)        float64
현지기압 QC플래그       float64
해면기압(hPa)        float64
해면기압 QC플래그       float64
일조(hr)           float64
일조 QC플래그         float64
일사(MJ/m2)        float64
일사 QC플래그         float64
적설(cm)           float64
3시간신적설(cm)       float64
전운량(10분위)        float64
중하층운량(10분위)        int64
운형(운형약어)          object
최저운고(100m )      float64
시정(10m)            int64
지면상태(지면상태코드)     float64
현상번호(국내식)        float64
지면온도(°C)         float64
지면온도 QC플래그       float64
5cm 지중온도(°C)     float64
10cm 지중온도(°C)    float64
20cm 지중온도(°C)    float64
30cm 지중온도(°C)    float64
dtype: object
================================================================================
22년도 날씨 데이터 :
지점명               object
일시                object
기온(°C)           float64
기온 QC플래그         float64
강수량(mm)          float64
강수량 QC플래그        float64
풍속(m/s)          float64
풍속 QC플래그         float64
풍향(16방위)           int64
풍향 QC플래그         float64
습도(%)              int64
습도 QC플래그         float64
증기압(hPa)         float64
이슬점온도(°C)        float64
현지기압(hPa)        float64
현지기압 QC플래그       float64
해면기압(hPa)        float64
해면기압 QC플래그       float64
일조(hr)           float64
일조 QC플래그         float64
일사(MJ/m2)        float64
일사 QC플래그         float64
적설(cm)           float64
3시간신적설(cm)       float64
전운량(10분위)          int64
중하층운량(10분위)        int64
운형(운형약어)          object
최저운고(100m )      float64
시정(10m)            int64
지면상태(지면상태코드)     float64
현상번호(국내식)        float64
지면온도(°C)         float64
지면온도 QC플래그       float64
5cm 지중온도(°C)     float64
10cm 지중온도(°C)    float64
20cm 지중온도(°C)    float64
30cm 지중온도(°C)    float64
dtype: object

In [11]:
print('21년도 미세먼지 데이터 : ', air_21.columns)
print('=='*40)
print('21년도 미세먼지 데이터 : ', air_21.shape)
air_21_nan = pd.DataFrame(air_21.isna().sum())
air_21_nan.columns = ['nan']
display(air_21_nan.loc[air_21_nan['nan'] > 0].sort_values(by = ['nan'], ascending = False))
print('=='*40)

21년도 미세먼지 데이터 :  Index(['지역', '망', '측정소코드', '측정소명', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10',
       'PM25', '주소'],
      dtype='object')
================================================================================
21년도 미세먼지 데이터 :  (8760, 12)

      nan
SO2   112
PM10  105
O3     97
PM25   97
CO     80
NO2    80

================================================================================

In [12]:
print('22년도 미세먼지 데이터 : ', air_22.columns)
print('=='*40)
print('22년도 미세먼지 데이터 : ', air_22.shape)
air_22_nan = pd.DataFrame(air_22.isna().sum())
air_22_nan.columns = ['nan']
display(air_22_nan.loc[air_22_nan['nan'] > 0].sort_values(by = ['nan'], ascending = False))
print('=='*40)

22년도 미세먼지 데이터 :  Index(['지역', '망', '측정소코드', '측정소명', '측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10',
       'PM25', '주소'],
      dtype='object')
================================================================================
22년도 미세먼지 데이터 :  (2160, 12)

      nan
PM10   38
PM25   25
SO2    21
CO     21
O3     21
NO2    21

================================================================================

In [13]:
print('21년도 날씨 데이터 : ', weather_21.columns)
print('=='*40)
print('21년도 날씨 데이터 : ', weather_21.shape)
weather_21_nan = pd.DataFrame(weather_21.isna().sum())
weather_21_nan.columns = ['nan']
display(weather_21_nan.loc[weather_21_nan['nan'] > 0].sort_values(by = ['nan'], ascending = False))
print('=='*40)

21년도 날씨 데이터 :  Index(['지점명', '일시', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그', '풍속(m/s)',
       '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그', '증기압(hPa)',
       '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그', '해면기압(hPa)', '해면기압 QC플래그',
       '일조(hr)', '일조 QC플래그', '일사(MJ/m2)', '일사 QC플래그', '적설(cm)', '3시간신적설(cm)',
       '전운량(10분위)', '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)',
       '지면상태(지면상태코드)', '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)',
       '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')
================================================================================
21년도 날씨 데이터 :  (8759, 37)

                nan
기온 QC플래그       8759
습도 QC플래그       8759
현지기압 QC플래그     8759
해면기압 QC플래그     8759
지면상태(지면상태코드)   8759
풍속 QC플래그       8757
풍향 QC플래그       8757
지면온도 QC플래그     8735
3시간신적설(cm)     8730
적설(cm)         8380
강수량(mm)        7810
강수량 QC플래그      6996
현상번호(국내식)      6634
일사 QC플래그       4791
일조 QC플래그       4791
최저운고(100m )    4212
일사(MJ/m2)      3968
일조(hr)         3968
운형(운형약어)       3812
지면온도(°C)          5
5cm 지중온도(°C)      5
10cm 지중온도(°C)     5
20cm 지중온도(°C)     5
30cm 지중온도(°C)     5
전운량(10분위)         2
풍향(16방위)          2
풍속(m/s)           2

================================================================================

In [14]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
print('22년도 날씨 데이터 : ', weather_22.columns)
print('=='*40)
print('22년도 날씨 데이터 : ', weather_22.shape)
weather_22_nan = pd.DataFrame(weather_22.isna().sum())
weather_22_nan.columns = ['nan']
display(weather_22_nan.loc[(weather_22_nan['nan'] > 0) & (weather_22_nan['nan'] < 2160)].sort_values(by = ['nan'], ascending = False))
print('=='*40)

22년도 날씨 데이터 :  Index(['지점명', '일시', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그', '풍속(m/s)',
       '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그', '증기압(hPa)',
       '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그', '해면기압(hPa)', '해면기압 QC플래그',
       '일조(hr)', '일조 QC플래그', '일사(MJ/m2)', '일사 QC플래그', '적설(cm)', '3시간신적설(cm)',
       '전운량(10분위)', '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)',
       '지면상태(지면상태코드)', '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)',
       '10cm 지중온도(°C)', '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')
================================================================================
22년도 날씨 데이터 :  (2160, 37)

              nan
지면온도 QC플래그   2153
3시간신적설(cm)   2145
강수량(mm)      2079
적설(cm)       2020
강수량 QC플래그    1778
현상번호(국내식)    1742
최저운고(100m )  1417
운형(운형약어)     1221
일조(hr)       1089
일사(MJ/m2)    1089
일조 QC플래그     1071
일사 QC플래그     1071

================================================================================

---

# 3. 데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 관측치들의 패턴 탐색
  * 잘못된 자료들을 탐색
  * 변수들간의 관계 파악

#### [실습문제4] 미세먼지 데이터 알아보기
* air_21,air_22 의 다양한 변수에 대하여 여러 그래프를 그려보고 인사이트를 도출해보세요.

# 결측치 처리

<img src = "현상번호표1.png">
<img src = "현상번호표2.png">
 <!-- width = "300" height = "700" -->

In [15]:
pd.options.display.float_format = '{:.5f}'.format
np.set_printoptions(precision=6, suppress=True)

display(weather_21['3시간신적설(cm)'].unique())
display(weather_21['적설(cm)'].unique())
display(weather_21['현상번호(국내식)'].unique())
display(weather_21['지면온도 QC플래그'].unique())
display(weather_21['지면온도 QC플래그'].unique())

array([nan, 0. , 3.8, 0.2, 0.1, 4.4, 0.5, 0.9, 3.6, 0.8, 4.1, 0.6, 1.8,
       3.1, 2.1, 0.3])

array([nan, 0. , 2.3, 3.8, 3.7, 3.5, 3.3, 2.9, 2.7, 2.5, 2.2, 2.1, 1.9,
       1.6, 1.4, 1.3, 1.1, 1. , 0.9, 0.8, 0.7, 0.6, 0.5, 0.4, 0.3, 0.2,
       4.6, 4.8, 5.1, 5. , 4.9, 4.2, 3.9, 3.4, 0.1, 3.6, 3.2, 2. , 4.3,
       4.1, 3. , 1.8, 1.2, 1.5, 2.4, 3.1, 4.4, 4.5, 1.7])

array([      nan,        5.,     1905.,       19.,     4219.,       42.,
              1.,     1901.,     1916.,       16.,     1902.,     4019.,
             40.,     4001.,   401901.,     1105.,       11.,   190601.,
         190605.,   190201., 19160201.,   191602.,   421902.,     4201.,
           4204.,   191601.,        2.,      201.,   421901.,   190401.,
           1904.,        4.,      401.,   190402.,     1906.,        6.,
         100601.,       10.,     1005.,     1910.])

array([nan,  0.,  9.])

array([nan,  0.,  9.])

In [16]:
print(weather_21['지면온도 QC플래그'].unique())
print(weather_21['일조 QC플래그'].unique())
print(weather_21['일사 QC플래그'].unique())
print(weather_21['강수량 QC플래그'].unique())

[nan  0.  9.]
[ 9. nan]
[ 9. nan]
[nan  9.]

In [17]:
# 값이 하나밖에 없음
# 지역 : 서울 종로구, 망 : 도시대기, 측정소명 : 종로구, 주소 : 서울 종로구 종로35가길 19, 측정소코드 : 111123
drop_col_air = ['지역', '망', '측정소명', '주소', '측정소코드', '측정일시']
air_21_time = air_21['측정일시']
air_22_time = air_22['측정일시']
air_21_drop = air_21.drop(drop_col_air, axis = 1,inplace = False)
air_22_drop = air_22.drop(drop_col_air, axis = 1,inplace = False)
drop_col_weather = ['기온 QC플래그','해면기압 QC플래그','지면상태(지면상태코드)','풍속 QC플래그','풍향 QC플래그','습도 QC플래그', '현지기압 QC플래그', '일시']
weather_21_time = weather_21['일시']
weather_22_time = weather_22['일시']
weather_21_drop = weather_21.drop(drop_col_weather, axis = 1,inplace = False)
weather_22_drop = weather_22.drop(drop_col_weather, axis = 1,inplace = False)
print(weather_22_drop.columns, weather_21_drop.info())
print('=='*40)
print(weather_21_drop.columns, weather_22_drop.info())
print('=='*40)
print(air_21_drop.columns, air_21_drop.info())
print('=='*40)
print(air_22_drop.columns, air_22_drop.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 108 to 108
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점명            8759 non-null   object
 1   기온(°C)         8759 non-null   float64
 2   강수량(mm)        949 non-null    float64
 3   강수량 QC플래그      1763 non-null   float64
 4   풍속(m/s)        8757 non-null   float64
 5   풍향(16방위)       8757 non-null   float64
 6   습도(%)          8759 non-null   int64
 7   증기압(hPa)       8759 non-null   float64
 8   이슬점온도(°C)      8759 non-null   float64
 9   현지기압(hPa)      8759 non-null   float64
 10  해면기압(hPa)      8759 non-null   float64
 11  일조(hr)         4791 non-null   float64
 12  일조 QC플래그       3968 non-null   float64
 13  일사(MJ/m2)      4791 non-null   float64
 14  일사 QC플래그       3968 non-null   float64
 15  적설(cm)         379 non-null    float64
 16  3시간신적설(cm)     29 non-null     float64
 17  전운량(10분위)      8757 non-null   float64
 18  중하층운량(10분위)    8759 non-null   int64
 19  운형(운형약어)       4947 non-null   object
 20  최저운고(100m )    4547 non-null   float64
 21  시정(10m)        8759 non-null   int64
 22  현상번호(국내식)      2125 non-null   float64
 23  지면온도(°C)       8754 non-null   float64
 24  지면온도 QC플래그     24 non-null     float64
 25  5cm 지중온도(°C)   8754 non-null   float64
 26  10cm 지중온도(°C)  8754 non-null   float64
 27  20cm 지중온도(°C)  8754 non-null   float64
 28  30cm 지중온도(°C)  8754 non-null   float64
dtypes: float64(24), int64(3), object(2)
memory usage: 2.0+ MB
Index(['지점명', '기온(°C)', '강수량(mm)', '강수량 QC플래그', '풍속(m/s)', '풍향(16방위)', '습도(%)',
       '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '해면기압(hPa)', '일조(hr)', '일조 QC플래그',
       '일사(MJ/m2)', '일사 QC플래그', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)', '현상번호(국내식)',
       '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object') None
================================================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 108 to 108
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점명            2160 non-null   object
 1   기온(°C)         2160 non-null   float64
 2   강수량(mm)        81 non-null     float64
 3   강수량 QC플래그      382 non-null    float64
 4   풍속(m/s)        2160 non-null   float64
 5   풍향(16방위)       2160 non-null   int64
 6   습도(%)          2160 non-null   int64
 7   증기압(hPa)       2160 non-null   float64
 8   이슬점온도(°C)      2160 non-null   float64
 9   현지기압(hPa)      2160 non-null   float64
 10  해면기압(hPa)      2160 non-null   float64
 11  일조(hr)         1071 non-null   float64
 12  일조 QC플래그       1089 non-null   float64
 13  일사(MJ/m2)      1071 non-null   float64
 14  일사 QC플래그       1089 non-null   float64
 15  적설(cm)         140 non-null    float64
 16  3시간신적설(cm)     15 non-null     float64
 17  전운량(10분위)      2160 non-null   int64
 18  중하층운량(10분위)    2160 non-null   int64
 19  운형(운형약어)       939 non-null    object
 20  최저운고(100m )    743 non-null    float64
 21  시정(10m)        2160 non-null   int64
 22  현상번호(국내식)      418 non-null    float64
 23  지면온도(°C)       2160 non-null   float64
 24  지면온도 QC플래그     7 non-null      float64
 25  5cm 지중온도(°C)   2160 non-null   float64
 26  10cm 지중온도(°C)  2160 non-null   float64
 27  20cm 지중온도(°C)  2160 non-null   float64
 28  30cm 지중온도(°C)  2160 non-null   float64
dtypes: float64(22), int64(5), object(2)
memory usage: 506.2+ KB
Index(['지점명', '기온(°C)', '강수량(mm)', '강수량 QC플래그', '풍속(m/s)', '풍향(16방위)', '습도(%)',
       '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '해면기압(hPa)', '일조(hr)', '일조 QC플래그',
       '일사(MJ/m2)', '일사 QC플래그', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)', '현상번호(국내식)',
       '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object') None
================================================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SO2     8648 non-null   float64
 1   CO      8680 non-null   float64
 2   O3      8663 non-null   float64
 3   NO2     8680 non-null   float64
 4   PM10    8655 non-null   float64
 5   PM25    8663 non-null   float64
dtypes: float64(6)
memory usage: 479.1 KB
Index(['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25'], dtype='object') None
================================================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 0 to 2159
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SO2     2139 non-null   float64
 1   CO      2139 non-null   float64
 2   O3      2139 non-null   float64
 3   NO2     2139 non-null   float64
 4   PM10    2122 non-null   float64
 5   PM25    2135 non-null   float64
dtypes: float64(6)
memory usage: 118.1 KB
Index(['SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25'], dtype='object') None

qc 플래그들은 0 또는 9이므로 -1로 채움 --> 자료가 정확한지 평가하는 기준인 것 같음  
지면온도(°C), 5cm 지중온도(°C), 10cm 지중온도(°C), 20cm 지중온도(°C), 30cm 지중온도(°C), 풍속(m/s)은 전부다 interpolate로

In [18]:
display(weather_21_drop.isna().sum())
display(weather_22_drop.isna().sum())
display(weather_22_drop.info())
display(air_21_drop.info())

지점명                 0
기온(°C)              0
강수량(mm)          7810
강수량 QC플래그        6996
풍속(m/s)             2
풍향(16방위)            2
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           3968
일조 QC플래그         4791
일사(MJ/m2)        3968
일사 QC플래그         4791
적설(cm)           8380
3시간신적설(cm)       8730
전운량(10분위)           2
중하층운량(10분위)         0
운형(운형약어)         3812
최저운고(100m )      4212
시정(10m)             0
현상번호(국내식)        6634
지면온도(°C)            5
지면온도 QC플래그       8735
5cm 지중온도(°C)        5
10cm 지중온도(°C)       5
20cm 지중온도(°C)       5
30cm 지중온도(°C)       5
dtype: int64

지점명                 0
기온(°C)              0
강수량(mm)          2079
강수량 QC플래그        1778
풍속(m/s)             0
풍향(16방위)            0
습도(%)               0
증기압(hPa)            0
이슬점온도(°C)           0
현지기압(hPa)           0
해면기압(hPa)           0
일조(hr)           1089
일조 QC플래그         1071
일사(MJ/m2)        1089
일사 QC플래그         1071
적설(cm)           2020
3시간신적설(cm)       2145
전운량(10분위)           0
중하층운량(10분위)         0
운형(운형약어)         1221
최저운고(100m )      1417
시정(10m)             0
현상번호(국내식)        1742
지면온도(°C)            0
지면온도 QC플래그       2153
5cm 지중온도(°C)        0
10cm 지중온도(°C)       0
20cm 지중온도(°C)       0
30cm 지중온도(°C)       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 108 to 108
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점명            2160 non-null   object
 1   기온(°C)         2160 non-null   float64
 2   강수량(mm)        81 non-null     float64
 3   강수량 QC플래그      382 non-null    float64
 4   풍속(m/s)        2160 non-null   float64
 5   풍향(16방위)       2160 non-null   int64
 6   습도(%)          2160 non-null   int64
 7   증기압(hPa)       2160 non-null   float64
 8   이슬점온도(°C)      2160 non-null   float64
 9   현지기압(hPa)      2160 non-null   float64
 10  해면기압(hPa)      2160 non-null   float64
 11  일조(hr)         1071 non-null   float64
 12  일조 QC플래그       1089 non-null   float64
 13  일사(MJ/m2)      1071 non-null   float64
 14  일사 QC플래그       1089 non-null   float64
 15  적설(cm)         140 non-null    float64
 16  3시간신적설(cm)     15 non-null     float64
 17  전운량(10분위)      2160 non-null   int64
 18  중하층운량(10분위)    2160 non-null   int64
 19  운형(운형약어)       939 non-null    object
 20  최저운고(100m )    743 non-null    float64
 21  시정(10m)        2160 non-null   int64
 22  현상번호(국내식)      418 non-null    float64
 23  지면온도(°C)       2160 non-null   float64
 24  지면온도 QC플래그     7 non-null      float64
 25  5cm 지중온도(°C)   2160 non-null   float64
 26  10cm 지중온도(°C)  2160 non-null   float64
 27  20cm 지중온도(°C)  2160 non-null   float64
 28  30cm 지중온도(°C)  2160 non-null   float64
dtypes: float64(22), int64(5), object(2)
memory usage: 506.2+ KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SO2     8648 non-null   float64
 1   CO      8680 non-null   float64
 2   O3      8663 non-null   float64
 3   NO2     8680 non-null   float64
 4   PM10    8655 non-null   float64
 5   PM25    8663 non-null   float64
dtypes: float64(6)
memory usage: 479.1 KB

None

In [19]:
from sklearn.impute import KNNImputer
# 아래에 실습코드를 작성하고 결과를 확인합니다.
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_row', 40)
weather_21_drop.fillna({'강수량 QC플래그': -1, '일조 QC플래그': -1, '일사 QC플래그' : -1, '지면온도 QC플래그' : -1}, inplace = True)
weather_22_drop.fillna({'강수량 QC플래그': -1, '일조 QC플래그': -1, '일사 QC플래그' : -1, '지면온도 QC플래그' : -1}, inplace = True)
for i in range(23, 29):
    weather_21_interp = weather_21_drop.iloc[:, i]
    weather_22_interp = weather_22_drop.iloc[:, i]
    weather_21_interp.interpolate(method = 'linear', inplace = True)
    weather_22_interp.interpolate(method = 'linear', inplace = True)
    weather_21_drop.iloc[:, i] = weather_21_interp
    weather_22_drop.iloc[:, i] = weather_22_interp
# 위는 qc와 interpolate
weather_21 = weather_21_drop.dropna(subset=['풍속(m/s)', '풍향(16방위)', '전운량(10분위)'])
weather_22 = weather_22_drop.dropna(subset=['풍속(m/s)', '풍향(16방위)', '전운량(10분위)'])

dumm_var = ['지점명', '운형(운형약어)']
weather_21_dum = pd.get_dummies(weather_21, columns = dumm_var, drop_first = True)
weather_22_dum = pd.get_dummies(weather_22, columns = dumm_var, drop_first = True)
# display(weather_21_dum)
# display(weather_21_dum.columns)
# 임퓨터 선언(4개의 평균으로 계산하겠다)
imputer=KNNImputer(n_neighbors=4)

#임퓨터를 사용하여 filled_train으로 저장 이후 같은 임퓨터를 사용할때는 imputer.transform()으로 사용하면됨
weather_21_KNN = imputer.fit_transform(weather_21_dum)
weather_22_KNN = imputer.fit_transform(weather_22_dum)
air_21_KNN = imputer.fit_transform(air_21_drop)
air_22_KNN = imputer.fit_transform(air_22_drop)
#사용하면 array값으로 나오기때문에 dataframe으로 바꿔주고 컬럼을가져옴
weather_21_KNN = pd.DataFrame(weather_21_KNN, columns=weather_21_dum.columns)
weather_22_KNN = pd.DataFrame(weather_22_KNN, columns=weather_22_dum.columns)
air_21_KNN = pd.DataFrame(air_21_KNN, columns=air_21_drop.columns)
air_22_KNN = pd.DataFrame(air_22_KNN, columns=air_22_drop.columns)

- weather_21_KNN, weather_22_KNN, air_21_KNN, air_22_KNN가 최종 결측치 처리 데이터
- weather_21_time, weather_22_time, air_21_time, air_22_time가 시간순 열, KNN돌리느라 잠깐 빼놓음

In [20]:
display(weather_21_KNN.info())
display(weather_22_KNN.info())
display(air_21_KNN.info())
display(air_22_KNN.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8755 entries, 0 to 8754
Data columns (total 72 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   기온(°C)             8755 non-null   float64
 1   강수량(mm)            8755 non-null   float64
 2   강수량 QC플래그          8755 non-null   float64
 3   풍속(m/s)            8755 non-null   float64
 4   풍향(16방위)           8755 non-null   float64
 5   습도(%)              8755 non-null   float64
 6   증기압(hPa)           8755 non-null   float64
 7   이슬점온도(°C)          8755 non-null   float64
 8   현지기압(hPa)          8755 non-null   float64
 9   해면기압(hPa)          8755 non-null   float64
 10  일조(hr)             8755 non-null   float64
 11  일조 QC플래그           8755 non-null   float64
 12  일사(MJ/m2)          8755 non-null   float64
 13  일사 QC플래그           8755 non-null   float64
 14  적설(cm)             8755 non-null   float64
 15  3시간신적설(cm)         8755 non-null   float64
 16  전운량(10분위)          8755 non-null   float64
 17  중하층운량(10분위)        8755 non-null   float64
 18  최저운고(100m )        8755 non-null   float64
 19  시정(10m)            8755 non-null   float64
 20  현상번호(국내식)          8755 non-null   float64
 21  지면온도(°C)           8755 non-null   float64
 22  지면온도 QC플래그         8755 non-null   float64
 23  5cm 지중온도(°C)       8755 non-null   float64
 24  10cm 지중온도(°C)      8755 non-null   float64
 25  20cm 지중온도(°C)      8755 non-null   float64
 26  30cm 지중온도(°C)      8755 non-null   float64
 27  운형(운형약어)_AcCc      8755 non-null   float64
 28  운형(운형약어)_AcCcCi    8755 non-null   float64
 29  운형(운형약어)_AcCi      8755 non-null   float64
 30  운형(운형약어)_AcCs      8755 non-null   float64
 31  운형(운형약어)_As        8755 non-null   float64
 32  운형(운형약어)_CbCu      8755 non-null   float64
 33  운형(운형약어)_CbSc      8755 non-null   float64
 34  운형(운형약어)_CbScAs    8755 non-null   float64
 35  운형(운형약어)_CbScCs    8755 non-null   float64
 36  운형(운형약어)_CbScNs    8755 non-null   float64
 37  운형(운형약어)_CbStNs    8755 non-null   float64
 38  운형(운형약어)_Cc        8755 non-null   float64
 39  운형(운형약어)_CcCi      8755 non-null   float64
 40  운형(운형약어)_Ci        8755 non-null   float64
 41  운형(운형약어)_Cs        8755 non-null   float64
 42  운형(운형약어)_CsCi      8755 non-null   float64
 43  운형(운형약어)_Cu        8755 non-null   float64
 44  운형(운형약어)_CuAc      8755 non-null   float64
 45  운형(운형약어)_CuAcCc    8755 non-null   float64
 46  운형(운형약어)_CuAs      8755 non-null   float64
 47  운형(운형약어)_CuCcCi    8755 non-null   float64
 48  운형(운형약어)_CuCi      8755 non-null   float64
 49  운형(운형약어)_CuSc      8755 non-null   float64
 50  운형(운형약어)_CuScAc    8755 non-null   float64
 51  운형(운형약어)_CuScAcCi  8755 non-null   float64
 52  운형(운형약어)_CuScAs    8755 non-null   float64
 53  운형(운형약어)_CuScCc    8755 non-null   float64
 54  운형(운형약어)_CuScCcCi  8755 non-null   float64
 55  운형(운형약어)_CuScCi    8755 non-null   float64
 56  운형(운형약어)_CuScCs    8755 non-null   float64
 57  운형(운형약어)_CuScNs    8755 non-null   float64
 58  운형(운형약어)_Sc        8755 non-null   float64
 59  운형(운형약어)_ScAc      8755 non-null   float64
 60  운형(운형약어)_ScAcCi    8755 non-null   float64
 61  운형(운형약어)_ScAcCs    8755 non-null   float64
 62  운형(운형약어)_ScAs      8755 non-null   float64
 63  운형(운형약어)_ScAsCi    8755 non-null   float64
 64  운형(운형약어)_ScCc      8755 non-null   float64
 65  운형(운형약어)_ScCcCi    8755 non-null   float64
 66  운형(운형약어)_ScCi      8755 non-null   float64
 67  운형(운형약어)_ScCs      8755 non-null   float64
 68  운형(운형약어)_St        8755 non-null   float64
 69  운형(운형약어)_StAs      8755 non-null   float64
 70  운형(운형약어)_StAsCi    8755 non-null   float64
 71  운형(운형약어)_StNs      8755 non-null   float64
dtypes: float64(72)
memory usage: 4.8 MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 40 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   기온(°C)           2160 non-null   float64
 1   강수량(mm)          2160 non-null   float64
 2   강수량 QC플래그        2160 non-null   float64
 3   풍속(m/s)          2160 non-null   float64
 4   풍향(16방위)         2160 non-null   float64
 5   습도(%)            2160 non-null   float64
 6   증기압(hPa)         2160 non-null   float64
 7   이슬점온도(°C)        2160 non-null   float64
 8   현지기압(hPa)        2160 non-null   float64
 9   해면기압(hPa)        2160 non-null   float64
 10  일조(hr)           2160 non-null   float64
 11  일조 QC플래그         2160 non-null   float64
 12  일사(MJ/m2)        2160 non-null   float64
 13  일사 QC플래그         2160 non-null   float64
 14  적설(cm)           2160 non-null   float64
 15  3시간신적설(cm)       2160 non-null   float64
 16  전운량(10분위)        2160 non-null   float64
 17  중하층운량(10분위)      2160 non-null   float64
 18  최저운고(100m )      2160 non-null   float64
 19  시정(10m)          2160 non-null   float64
 20  현상번호(국내식)        2160 non-null   float64
 21  지면온도(°C)         2160 non-null   float64
 22  지면온도 QC플래그       2160 non-null   float64
 23  5cm 지중온도(°C)     2160 non-null   float64
 24  10cm 지중온도(°C)    2160 non-null   float64
 25  20cm 지중온도(°C)    2160 non-null   float64
 26  30cm 지중온도(°C)    2160 non-null   float64
 27  운형(운형약어)_AcCi    2160 non-null   float64
 28  운형(운형약어)_AcCs    2160 non-null   float64
 29  운형(운형약어)_As      2160 non-null   float64
 30  운형(운형약어)_Cc      2160 non-null   float64
 31  운형(운형약어)_Ci      2160 non-null   float64
 32  운형(운형약어)_Cs      2160 non-null   float64
 33  운형(운형약어)_Sc      2160 non-null   float64
 34  운형(운형약어)_ScAcCi  2160 non-null   float64
 35  운형(운형약어)_ScAs    2160 non-null   float64
 36  운형(운형약어)_ScCi    2160 non-null   float64
 37  운형(운형약어)_ScCs    2160 non-null   float64
 38  운형(운형약어)_St      2160 non-null   float64
 39  운형(운형약어)_StNs    2160 non-null   float64
dtypes: float64(40)
memory usage: 675.1 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SO2     8760 non-null   float64
 1   CO      8760 non-null   float64
 2   O3      8760 non-null   float64
 3   NO2     8760 non-null   float64
 4   PM10    8760 non-null   float64
 5   PM25    8760 non-null   float64
dtypes: float64(6)
memory usage: 410.8 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SO2     2160 non-null   float64
 1   CO      2160 non-null   float64
 2   O3      2160 non-null   float64
 3   NO2     2160 non-null   float64
 4   PM10    2160 non-null   float64
 5   PM25    2160 non-null   float64
dtypes: float64(6)
memory usage: 101.4 KB

None

In [21]:
display(weather_21.shape, weather_22.shape)
weather_21_nan = pd.DataFrame(weather_21_KNN.isna().sum())
weather_21_nan.columns = ['nan']
weather_22_nan = pd.DataFrame(weather_22_KNN.isna().sum())
weather_22_nan.columns = ['nan']

display(air_21_drop.shape, air_22_drop.shape)
air_21_nan = pd.DataFrame(air_21_KNN.isna().sum())
air_21_nan.columns = ['nan']
air_22_nan = pd.DataFrame(air_22_KNN.isna().sum())
air_22_nan.columns = ['nan']
# 아래에 실습코드를 작성하고 결과를 확인합니다.
display(weather_21_nan.loc[(weather_21_nan['nan'] != 0)].sort_values(by = ['nan'], ascending = False))
display(weather_22_nan.loc[(weather_22_nan['nan'] != 0)].sort_values(by = ['nan'], ascending = False))
display(air_21_nan.loc[(air_21_nan['nan'] != 0)].sort_values(by = ['nan'], ascending = False))
display(air_22_nan.loc[(air_22_nan['nan'] != 0)].sort_values(by = ['nan'], ascending = False))

(8755, 29)

(2160, 29)

(8760, 6)

(2160, 6)

Empty DataFrame
Columns: [nan]
Index: []

Empty DataFrame
Columns: [nan]
Index: []

Empty DataFrame
Columns: [nan]
Index: []

Empty DataFrame
Columns: [nan]
Index: []

In [22]:
display(air_21_KNN.head())
display(air_22_KNN.head())
display(weather_21_KNN.head())
display(weather_22_KNN.head())

      SO2      CO      O3     NO2     PM10     PM25
0 0.00300 0.60000 0.00200 0.03900 31.00000 18.00000
1 0.00300 0.60000 0.00200 0.03500 27.00000 16.00000
2 0.00300 0.60000 0.00200 0.03300 28.00000 18.00000
3 0.00300 0.60000 0.00200 0.03000 26.00000 16.00000
4 0.00300 0.50000 0.00300 0.02600 26.00000 16.00000

      SO2      CO      O3     NO2     PM10     PM25
0 0.00300 0.40000 0.02600 0.01600 23.00000 12.00000
1 0.00300 0.40000 0.02200 0.02000 20.00000  9.00000
2 0.00300 0.50000 0.01400 0.02800 20.00000  9.00000
3 0.00300 0.50000 0.01600 0.02700 19.00000 10.00000
4 0.00300 0.50000 0.00500 0.04000 24.00000 11.00000

,기온(°C),강수량(mm),강수량 QC플래그,풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),...,운형(운형약어)_CuScAs,운형(운형약어)_CuScCc,운형(운형약어)_CuScCcCi,운형(운형약어)_CuScCi,운형(운형약어)_CuScCs,운형(운형약어)_CuScNs,운형(운형약어)_Sc,운형(운형약어)_ScAc,운형(운형약어)_ScAcCi,운형(운형약어)_ScAcCs,운형(운형약어)_ScAs,운형(운형약어)_ScAsCi,운형(운형약어)_ScCc,운형(운형약어)_ScCcCi,운형(운형약어)_ScCi,운형(운형약어)_ScCs,운형(운형약어)_St,운형(운형약어)_StAs,운형(운형약어)_StAsCi,운형(운형약어)_StNs
0,-8.70000,0.05000,-1.00000,2.40000,270.00000,68.00000,2.20000,-13.50000,1016.40000,1027.70000,0.25000,9.00000,0.13000,9.00000,1.70000,0.17500,0.00000,0.00000,16.00000,2000.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,-9.10000,0.07500,-1.00000,1.60000,270.00000,69.00000,2.10000,-13.70000,1016.20000,1027.50000,0.25000,9.00000,0.13000,9.00000,2.50000,0.05000,0.00000,0.00000,16.00000,2000.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,-9.30000,0.05000,-1.00000,1.10000,250.00000,70.00000,2.10000,-13.70000,1016.80000,1028.10000,0.70000,9.00000,0.18750,9.00000,3.10000,0.05000,0.00000,0.00000,14.75000,2000.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,-9.30000,0.17500,-1.00000,0.30000,0.00000,71.00000,2.20000,-13.50000,1016.20000,1027.50000,0.20000,9.00000,0.07500,9.00000,1.95000,0.97500,0.00000,0.00000,22.75000,2000.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,-9.70000,0.07500,-1.00000,1.90000,20.00000,72.00000,2.10000,-13.80000,1015.60000,1026.90000,0.32500,9.00000,0.14000,9.00000,0.85000,0.97500,0.00000,0.00000,13.75000,2000.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

,기온(°C),강수량(mm),강수량 QC플래그,풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),일조(hr),일조 QC플래그,일사(MJ/m2),일사 QC플래그,적설(cm),3시간신적설(cm),전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),운형(운형약어)_AcCi,운형(운형약어)_AcCs,운형(운형약어)_As,운형(운형약어)_Cc,운형(운형약어)_Ci,운형(운형약어)_Cs,운형(운형약어)_Sc,운형(운형약어)_ScAcCi,운형(운형약어)_ScAs,운형(운형약어)_ScCi,운형(운형약어)_ScCs,운형(운형약어)_St,운형(운형약어)_StNs
0,-8.50000,0.00000,-1.00000,1.90000,320.00000,41.00000,1.30000,-19.40000,1021.90000,1033.20000,0.65000,9.00000,0.51500,9.00000,0.32500,0.30000,0.00000,0.00000,16.50000,2000.00000,23.50000,-7.00000,-1.00000,-1.00000,-1.00000,-0.20000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
1,-9.20000,0.00000,-1.00000,1.80000,270.00000,42.00000,1.30000,-19.70000,1022.20000,1033.60000,0.50000,9.00000,0.50500,9.00000,0.52500,0.30000,0.00000,0.00000,33.50000,2000.00000,14.25000,-7.20000,-1.00000,-1.10000,-1.10000,-0.20000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
2,-9.50000,0.00000,-1.00000,1.20000,270.00000,43.00000,1.30000,-19.70000,1022.30000,1033.70000,0.50000,9.00000,0.50500,9.00000,0.45000,0.30000,0.00000,0.00000,33.50000,2000.00000,14.25000,-7.50000,-1.00000,-1.30000,-1.20000,-0.20000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3,-9.30000,0.00000,-1.00000,1.40000,290.00000,46.00000,1.40000,-18.80000,1022.60000,1034.00000,0.82500,9.00000,0.54750,9.00000,0.57500,0.30000,0.00000,0.00000,19.25000,2000.00000,14.25000,-7.60000,-1.00000,-1.40000,-1.20000,-0.20000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
4,-9.60000,0.00000,-1.00000,1.70000,340.00000,48.00000,1.40000,-18.50000,1021.90000,1033.30000,0.20000,9.00000,0.05000,9.00000,0.35000,0.30000,0.00000,0.00000,21.00000,2000.00000,23.50000,-7.60000,-1.00000,-1.40000,-1.30000,-0.30000,1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [40]:
print('air_21_time')
display(air_21_time)
display(air_21_time.tail(5))
print('=='*30)
print('air_22_time')
display(air_22_time.head(1))
display(air_22_time.tail(1))
print('=='*30)
print('weather_21_time')
display(weather_21_time.head(1))
display(weather_21_time.tail(1))
print('=='*30)
print('weather_22_time')
display(weather_22_time.head(1))
display(weather_22_time.tail(1))

air21_time = pd.date_range("2021/10/01 01:00:00", "2021/09/30",freq="H") #시
display(air_time)

air_21_time

Column1
0       2021100101
1       2021100102
2       2021100103
3       2021100104
4       2021100105
           ...
8755    2021093020
8756    2021093021
8757    2021093022
8758    2021093023
8759    2021093024
Name: 측정일시, Length: 8760, dtype: int64

Column1
8755    2021093020
8756    2021093021
8757    2021093022
8758    2021093023
8759    2021093024
Name: 측정일시, dtype: int64

============================================================
air_22_time

Column1
0    2022010101
Name: 측정일시, dtype: int64

Column1
2159    2022033124
Name: 측정일시, dtype: int64

============================================================
weather_21_time

지점
108    2021-01-01 1:00
Name: 일시, dtype: object

지점
108    2021-12-31 23:00
Name: 일시, dtype: object

============================================================
weather_22_time

지점
108    2022-01-01 0:00
Name: 일시, dtype: object

지점
108    2022-03-31 23:00
Name: 일시, dtype: object

DatetimeIndex(['2020-04-13 00:00:00', '2020-04-13 01:00:00',
               '2020-04-13 02:00:00', '2020-04-13 03:00:00',
               '2020-04-13 04:00:00'],
              dtype='datetime64[ns]', freq='H')

#### [실습문제5] 날씨 데이터 알아보기
* weather_21, weather_22 의 다양한 변수에 대하여 여러 그래프를 그려보고 인사이트를 도출해보세요.

In [46]:
sns.barplot(weather_21[''])

0

In [25]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [26]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [27]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.(집중! 데이터 분포의 모양을 잘 살펴봐주세요.)
# 1. 
# 2.
# 3.